---
import image1 from 'imgs/Imagen1_Home.png';
---

<section class="flex basis-1/2 px-[160px] space-x-[80px] my-[160px]">
    <div class="flex-1">
        <img src={image1.src} alt="" class="rounded-tr-lg h-full">
    </div>
    <div class="flex-1 basis-1/2 flex flex-col space-y-[80px]">

        <div class="space-y-[24px] animate-fade-right animate-duration-[4000ms] opacity-0">
            <div class="flex space-x-[24px]">
                <div class="bg-gradient-to-t from-azulGradiente from-0% to-verdeGradiente to-100% w-[10px] h-[102px]" />
                <div class="w-100">
                    <h2 class="leading-[50px] text-[50px] font-400">CONSTRUIMOS SU PROYECTO</h2>
                </div>
            </div>
            <div>            
                <p class="text-[24px] font-400">Encuentre en ISA la mejor solución para la automatización de su edificio , así para garantizar la seguridad de él.</p>
            </div>
        </div>


        <div class="space-y-[24px] animate-fade-right animate-duration-[4000ms] opacity-0">
            <div class="flex space-x-[24px]">
                <div class="bg-gradient-to-t from-azulGradiente from-0% to-verdeGradiente to-100% w-[10px] h-[102px]" />
                <div class="w-100">
                    <h2 class="leading-[50px] text-[50px] font-400">LO ACOMPAÑAMOS DURANTE TODO EL CICLO DE VIDA DEL PROYECTO</h2>
                </div>
            </div>
            <div>            
                <p class="text-[24px] font-400">Reciba nuestra asesoría , acompañamiento, recomendaciones y apoyo desde la concepción hasta el mantenimiento.</p>
            </div>
        </div>


        <div class="space-y-[24px] animate-fade-right animate-duration-[4000ms] opacity-0">
            <div class="flex space-x-[24px]">
                <div class="bg-gradient-to-t from-azulGradiente from-0% to-verdeGradiente to-100% w-[10px] h-[102px]" />
                <div class="w-100">
                    <h2 class="leading-[50px] text-[50px] font-400">EN EFICENCIA ENERGETICA Y OPERATIVA SOMOS EXPERTOS</h2>
                </div>
            </div>
            <div>            
                <p class="text-[24px] font-400">Conseguimos que sus edificios consuman menos energía y que sus procesos operativos puedan simplificarse.</p>
            </div>
        </div>

    </div>
</section>
